.container {
  //position: relative;
  //margin: 0 auto;
  //display: block;
  //text-align: center;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profileIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name {
  font-size: xx-large;
  padding-left: 10px;
}

.emblem {
  position: absolute;
  z-index: -100;
  left: 200px;
  top: 200px;
  width: 10vw;
  height: auto;
}
