<div class="container">
  <div *ngIf="summoner.name; else showThis">
    <div class="headline">
      <img class="profileIcon" [src]="ICON_URL" alt="profile icon" />
      <span class="name"
        ><b>{{ summoner.name }}</b></span
      >
    </div>

    <app-league-detail
      class="detail"
      [summLeague]="summLeague"
      [summGames]="summGames"
      [matchHistory]="matchHistory"
    ></app-league-detail>

    <br />

    <div class="graphs">
      <div class="graph">
        <span>Activity</span>
        <app-activity-graph [summGames]="summGames"></app-activity-graph>
      </div>
    </div>
  </div>

  <ng-template #showThis>
    Summoner Not Found
  </ng-template>
</div>
