.container {
  //position: relative;
  //margin: 0 auto;
  //display: block;
  //text-align: center;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.profileIcon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.name {
  font-size: xx-large;
  padding-left: 10px;
}

.detail {
  display: inline-block;
  //border: 1px solid black;
}
.graphs {
  position: relative;
  display: block;
  margin-top: 20px;
}
.graph {
  //display: block;
  height: 240px;
  width: 420px;
  //border: 1px solid black;
}
