.container {
  text-align: center;
}
.navigator {
  display: table;
  margin: 0 auto;
}
.form-field {
  width: 200px;
  margin-top: 20px;
  margin-left: 30px;
}

.initPic {
  margin-top: 50px;
  filter: grayscale(100%) drop-shadow(5px 5px 5px #222);
  width: 440px;
  height: 290px;
}
.mat-tab-link {
  min-width: 300px;
}
