<div class="container">
  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [(value)]="selectedRegion">
      <mat-option value="option1">RU</mat-option>
      <mat-option value="option2">KR</mat-option>
      <mat-option value="option3">BR1</mat-option>
      <mat-option value="option4">OC1</mat-option>
      <mat-option value="option5">JP1</mat-option>
      <mat-option value="option6">NA1</mat-option>
      <mat-option value="option7">EUN1</mat-option>
      <mat-option value="option8">EUW1</mat-option>
      <mat-option value="option9">TR1</mat-option>
      <mat-option value="option10">LA1</mat-option>
      <mat-option value="option11">LA2</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="form-field">
    <mat-label>Summoner name</mat-label>
    <input matInput type="text" [(ngModel)]="name" />

    <button
      mat-button
      *ngIf="name"
      matSuffix
      mat-icon-button
      aria-label="Done"
      (click)="getSummoner()"
    >
      <mat-icon>done</mat-icon>
    </button>

    <button
      mat-button
      *ngIf="name"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="name = ''; showTabs = false"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div class="navigator" *ngIf="showTabs">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links; let i = index"
        (click)="activeLink = link; activeTab(i)"
        [active]="activeLink == link"
      >
        {{ link }}</a
      >
    </nav>

    <div [ngSwitch]="acTab">
      <app-summoner-detail
        *ngSwitchCase="0"
        [summoner]="summoner"
        [summLeague]="summLeague"
      ></app-summoner-detail>

      <app-match-history
        *ngSwitchCase="1"
        [matchHistory]="matchHistory"
      ></app-match-history>

      <app-current-match
        *ngSwitchCase="2"
        [spectatorData]="spectatorData"
      ></app-current-match>

      <div *ngSwitchDefault>hell yeah</div>
    </div>
  </div>
</div>
