<div class="container">
  <mat-form-field class="form-field">
    <mat-label>Summoner name</mat-label>
    <input matInput type="text" [(ngModel)]="name" />

    <button
      mat-button
      *ngIf="name"
      matSuffix
      mat-icon-button
      aria-label="Done"
      (click)="getSummoner()"
    >
      <mat-icon>done</mat-icon>
    </button>

    <button
      mat-button
      *ngIf="name"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="name = ''; showTabs = false"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div *ngIf="summoner">
    <p>name: {{ summoner.name }}</p>
    <p>level: {{ summoner.summonerLevel }}</p>
    <p>id: {{ summoner.id }}</p>
  </div>

  <div class="navigator" *ngIf="showTabs">
    <nav mat-tab-nav-bar>
      <a
        mat-tab-link
        *ngFor="let link of links; let i = index"
        (click)="activeLink = link; activeTab(i)"
        [active]="activeLink == link"
      >
        {{ link }}</a
      >
    </nav>

    <div [ngSwitch]="acTab">
      <app-summoner-detail *ngSwitchCase="0"></app-summoner-detail>
      <app-match-history
        *ngSwitchCase="1"
        [matchHistory]="matchHistory"
      ></app-match-history>
      <app-current-match *ngSwitchCase="2"></app-current-match>
      <div *ngSwitchDefault>hell yeah</div>
    </div>
  </div>
</div>
