.card {
    border-radius: 50px;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  20px 20px 60px #d9d9d9, 
                -20px -20px 60px #ffffff;
    transition: transform .2s;

    &:hover {
        transform: scale(1.1);
    }
}