.card {
    border-radius: 25px;
    box-shadow:  9px 9px 18px #c6cdd4, 
             -9px -9px 18px #ffffff;
    // transition: transform .2s;

    // &:hover {
    //     transform: scale(1.05);
    // }
}

.width-small {
    width: 200px;
}