<div>
  <div class="table" *ngIf="summLeague[0]; else showThis">
    <table>
      <tr>
        <td class="type">Tier:</td>
        <td class="value">
          <b>{{ summLeague[0].tier }}</b>
        </td>
      </tr>
      <tr>
        <td class="type">Rank:</td>
        <td class="value">
          <b>{{ summLeague[0].rank }}</b>
        </td>
      </tr>
      <tr>
        <td class="type">LP:</td>
        <td class="value">
          <b>{{ summLeague[0].leaguePoints }}</b>
        </td>
      </tr>
      <tr>
        <td class="type">Wins:</td>
        <td class="value">
          <b>{{ summLeague[0].wins }}</b>
        </td>
      </tr>
      <tr>
        <td class="type">Losses:</td>
        <td class="value">
          <b>{{ summLeague[0].losses }}</b>
        </td>
      </tr>
    </table>
  </div>
  <ng-template #showThis>
    League Data Not Found
  </ng-template>
</div>
