/* component-name.component.scss */
@import 'variables';
.main-image{
    border-radius: 0 0 25px 25px;
}

.search {
    border: 2px solid #e9f1f9;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #e9f1f9;
}

.search-options {
    background-color: #e9f1f9;
}

.serch-name-wraper {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    color: #e9f1f9;

    ::placeholder {
        color: #e9f1f9;
    }

    .serch-name {
        border-radius: 20px;
        border: 2px solid #e9f1f9;
        color: #e9f1f9;
    }
}

.search-btn {
    border: none;
    border-radius: 20px;
    box-shadow: inset -4px 4px 8px #a83c3c, 
            inset 4px -4px 8px #ff7070;
}

.box-shadow {
    box-shadow: 0 28px 50px rgba(0, 0, 0, 0.8);
}

.box-shadow-small {
    box-shadow: 0 14px 25px rgba(0, 0, 0, 0.5);
}

.search-icon {
    color: #e9f1f9;
}

.btn {
    //border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(102, 60, 255);
    color: white;
    box-shadow:  20px 20px 60px #c6cdd4, 
                -20px -20px 60px #ffffff,
                5px 5px 15px 5px rgba(0,0,0,0),
                0px 10px 13px -7px #000000;
}