/* component-name.component.scss */
@import 'variables';

.main-image {
    border-radius: 0 0 50px 50px;
}

.search {
    border: none;
    border-radius: 15px 0 0 15px;
    background: #c2c2c2;
    box-shadow: inset 5px 5px 10px #888888;

    font-size: 14px;
}

.serch-name {
    border: none;
    //border-left: 1px solid darkgray;
    //background: #ffffff;
    // box-shadow: inset 6px 6px 10px #a3a3a3, 
    //         inset -6px -6px 10px #e1e1e1;
}

.search-btn {
    border: none;
    border-radius: 0 15px 15px 0;
    box-shadow: inset -4px 4px 8px #a83c3c, 
            inset 4px -4px 8px #ff7070;
}

.box-shadow {
    box-shadow: 0 28px 50px rgba(0, 0, 0, 0.9);
}