<div class="uk-container">

  <div class="uk-inline uk-margin">

    <div class="uk-overflow-hidden uk-height-max-large box-shadow main-image">
      <img class="uk-animation-kenburns" src= "./assets/baron-splashed.png" alt="baron-splashed">
    </div>

    <div class="uk-position-small uk-position-bottom uk-overlay uk-text-center uk-flex uk-flex-center">

      <div class="uk-width-small uk-margin-right">
        <select #region class="uk-select search uk-text-light">
            <option *ngFor="let region of regions" class="search-options">&nbsp;&nbsp;{{ region }}</option>
        </select>
      </div>

      <div class="uk-search uk-search-default uk-background-default uk-width-2-5 serch-name-wraper uk-margin-right">
        <span uk-search-icon class="search-icon"></span>
        <input #player class="uk-search-input serch-name  uk-text-light" type="search" placeholder="Player's nickname" (keyup.enter)="searchPlayer(player.value, region.value)">
      </div>

      <button class="uk-button uk-button-danger search-btn" (click)="searchPlayer(player.value, region.value)">Search</button>
      
    </div>

  </div>

  <div class="uk-flex uk-flex-center uk-margin-top">
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Champions</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Items</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Maps</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Patch Notes</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Pro Builds</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Pro Players</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">For beginners</a></button>
    <button class="uk-button btn"><a class="uk-link-reset" href="" routerLink="/summoners">Fan art</a></button>
  </div>

  <div class="uk-margin uk-flex">

    <div 
    class="uk-position-relative uk-visible-toggle uk-width-2-3 box-shadow" 
    tabindex="-1" 
    uk-slideshow="animation: push; autoplay: true; finite: false"
    style="border-radius: 25px;"
    >

      <ul class="uk-slideshow-items" style="border-radius: 25px;">
        <li>
          <img src="../../../assets/y.png" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding uk-padding-remove-top">
            <h3 class="uk-margin-remove">Overlay Bottom</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </li>
        <li>
          <img src="../../../assets/x.png" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding uk-padding-remove-top">
            <h3 class="uk-margin-remove">Overlay Bottom</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </li>
        <li>
          <img src="../../../assets/c.png" alt="" uk-cover>
          <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-text-center uk-padding uk-padding-remove-top">
            <h3 class="uk-margin-remove">Overlay Bottom</h3>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p class="uk-margin-remove">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </li>
      </ul>

      <div class="uk-position-bottom-center uk-position-small uk-light">
        <ul class="uk-dotnav">
          <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
          <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
          <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        </ul>
      </div>

    </div>

    <div 
    class="uk-position-relative uk-visible-toggle uk-width-1-3 box-shadow" 
    tabindex="-1" 
    uk-slideshow="animation: push; finite: false"
    style="border-radius: 25px; margin-left: 15px;"
    >

      <ul class="uk-slideshow-items" style="border-radius: 25px; height: 100%;">
        <li>
          <div class="uk-margin" style="background-image: url(../../../assets/a.png); background-size: cover;  background-position: center; height: 100%; border-radius: 25px;">
            <div style="border-radius: 25px; height: 100%; background-color: rgba(34, 34, 34, 0.8);">
              <div class="uk-article uk-padding uk-light">
                <h2><a class="uk-link-reset" href="">Heading</a></h2>
                <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
                <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ipsa laudantium at pariatur id perspiciatis nihil aliquid, officia adipisci fugiat voluptates, fuga autem quaerat quam porro voluptatem reprehenderit rerum ipsum, omnis consequatur. Ipsa tenetur voluptates officia praesentium labore fugiat perferendis.</p>
                <div class="uk-grid-small uk-child-width-auto">
                  <div class="uk-flex uk-flex-right">
                    <a class="uk-button uk-button-text" href="#">Read more<span uk-icon="chevron-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-margin" style="background-image: url(../../../assets/a.png); background-size: cover;  background-position: center; height: 100%; border-radius: 25px;">
            <div style="border-radius: 25px; height: 100%; background-color: rgba(34, 34, 34, 0.8);">
              <div class="uk-article uk-padding uk-light">
                <h2><a class="uk-link-reset" href="">Heading</a></h2>
                <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
                <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ipsa laudantium at pariatur id perspiciatis nihil aliquid, officia adipisci fugiat voluptates, fuga autem quaerat quam porro voluptatem reprehenderit rerum ipsum, omnis consequatur. Ipsa tenetur voluptates officia praesentium labore fugiat perferendis.</p>
                <div class="uk-grid-small uk-child-width-auto">
                  <div class="uk-flex uk-flex-right">
                    <a class="uk-button uk-button-text" href="#">Read more<span uk-icon="chevron-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="uk-margin" style="background-image: url(../../../assets/a.png); background-size: cover;  background-position: center; height: 100%; border-radius: 25px;">
            <div style="border-radius: 25px; height: 100%; background-color: rgba(34, 34, 34, 0.8);">
              <div class="uk-article uk-padding uk-light">
                <h2><a class="uk-link-reset" href="">Heading</a></h2>
                <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
                <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ipsa laudantium at pariatur id perspiciatis nihil aliquid, officia adipisci fugiat voluptates, fuga autem quaerat quam porro voluptatem reprehenderit rerum ipsum, omnis consequatur. Ipsa tenetur voluptates officia praesentium labore fugiat perferendis.</p>
                <div class="uk-grid-small uk-child-width-auto">
                  <div class="uk-flex uk-flex-right">
                    <a class="uk-button uk-button-text" href="#">Read more<span uk-icon="chevron-right"></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>

      <div class="uk-position-bottom-center uk-position-small uk-light">
        <ul class="uk-dotnav">
          <li uk-slideshow-item="0"><a href="#">Item 1</a></li>
          <li uk-slideshow-item="1"><a href="#">Item 2</a></li>
          <li uk-slideshow-item="2"><a href="#">Item 3</a></li>
        </ul>
      </div>

    </div>

  </div>

  <div class="uk-margin uk-margin-large-top uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid="masonry: true">
    <div>
      <div class="uk-margin" style="background-image: url(../../../assets/a.png); background-size: cover;  background-position: center; height: 100%; border-radius: 25px;">
        <div style="border-radius: 25px; height: 100%; background-color: rgba(34, 34, 34, 0.8);">
          <div class="uk-article uk-padding uk-light">
            <h2><a class="uk-link-reset" href="">Heading</a></h2>
            <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a href="#">Blog</a></p>
            <p style="text-align: justify;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ipsa laudantium at pariatur id perspiciatis nihil aliquid, officia adipisci fugiat voluptates, fuga autem quaerat quam porro voluptatem reprehenderit rerum ipsum, omnis consequatur. Ipsa tenetur voluptates officia praesentium labore fugiat perferendis.</p>
            <div class="uk-grid-small uk-child-width-auto">
              <div class="uk-flex uk-flex-right">
                <a class="uk-button uk-button-text" href="#">Read more<span uk-icon="chevron-right"></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi aliquid tempore cumque, nisi magni quibusdam amet. Laboriosam et, quod velit impedit earum corporis nisi ducimus blanditiis debitis sequi magni dolores?
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, et recusandae adipisci corrupti maxime, nihil sint facere reiciendis quisquam vero possimus assumenda voluptatum asperiores tempore saepe expedita ut nemo minus at eos repudiandae nam! Explicabo aperiam praesentium similique, laudantium quibusdam facilis commodi eaque rem vitae officiis rerum et perferendis? Modi.
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id, natus commodi! Laudantium iure excepturi maxime magni, a quisquam repudiandae alias quo similique, fugiat aut quaerat odio! Provident ducimus, ipsa minima quo numquam eaque voluptatibus dolores quas labore repellendus amet rem vel incidunt cupiditate? Ducimus velit non vero obcaecati quos praesentium!
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio consectetur recusandae earum consequatur at reprehenderit incidunt fugiat itaque atque corporis veritatis officiis sunt aliquid eveniet veniam facere autem id esse neque, accusamus vel. Commodi placeat tempora numquam rerum veritatis magnam sint ea laudantium officia. Quis fugit temporibus quos vero obcaecati qui? Quos, eveniet, hic tenetur provident, optio aspernatur inventore quia eos libero enim rem! Iusto delectus expedita, aperiam porro laborum repellendus vero repudiandae error corrupti, facere doloremque velit
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repudiandae rerum ad asperiores sunt nobis assumenda aut odio ipsa voluptatibus quisquam cumque aspernatur veniam, commodi illum ut minus dolor officia! In accusantium minus totam velit, commodi ipsam laborum numquam dolore.
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum error fuga quis dolorem molestias esse earum consectetur ipsa? Iure, aliquam velit. Accusantium, cumque tempora! Voluptate, alias culpa cum hic ducimus nostrum vitae sapiente, dolor, aliquam sequi ipsa. Magni explicabo quae velit eligendi, quidem repudiandae natus earum fugiat repellendus ad rerum laudantium illo cumque incidunt delectus architecto dolorem quaerat, aliquid eveniet?
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit nisi ab temporibus deleniti unde voluptatibus beatae. Aliquid voluptatum voluptates magni aliquam? Facilis consequuntur ipsa voluptates aspernatur odit ut enim accusamus temporibus sequi sapiente exercitationem, vero facere minus doloremque! Consequatur, repellendus?
          </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle box-shadow-small" style="border-radius: 25px;">
          <div class="uk-padding">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum autem voluptas illo repellat, atque iure quasi ratione aspernatur aliquam quisquam est suscipit numquam error minima sint consequuntur odio? Esse, quos!
          </div>
        </div>
    </div>
</div>

  <!-- 
    <div class="uk-width-1-3">
      <div class="uk-margin box-shadow" style="background-image: url(../../../assets/a.png); background-size: cover;  background-position: center; height: 100%; margin-left: 15px; border-radius: 25px;">
        <div style="border-radius: 25px; height: 100%; background-color: rgba(34, 34, 34, 0.8);">
          <div class="uk-padding uk-light">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-circle" width="40" height="40" src="../../../assets/a.png" style="height: 40px;">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom">Title</h3>
                  <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
              </div>
            </div>  
            <div class="uk-card-body uk-padding-remove-horizontal uk-padding-remove-bottom">
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex ipsa laudantium at pariatur id perspiciatis nihil aliquid, officia adipisci fugiat voluptates, fuga autem quaerat quam porro voluptatem reprehenderit rerum ipsum, omnis consequatur. Ipsa tenetur voluptates officia praesentium labore fugiat perferendis.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  -->
  

  <!-- 
    <div class="uk-child-width-1-3@m uk-margin-medium-top" uk-grid uk-scrollspy="cls: uk-animation-fade; target: .card; delay: 200;">

    <a class="uk-link-reset" routerLink="/summoners">
      <app-card
        routerLink
        [title]="'Champions'"
      ></app-card>
    </a>

    <a class="uk-link-reset" routerLink="/items">
      <app-card [title]="'Items'"></app-card>
    </a>

    <a class="uk-link-reset" routerLink="/maps">
      <app-card [title]="'Maps'"></app-card>
    </a> 
    
    <a class="uk-link-reset" routerLink="/patch">
      <app-card [title]="'Patch Notes'"></app-card>
    </a> 

    <a class="uk-link-reset" routerLink="/builds">
      <app-card [title]="'Pro Builds'"></app-card>
    </a> 

    <a class="uk-link-reset" routerLink="/beginners">
      <app-card [title]="'For beginners'"></app-card>
    </a> 
    
  </div>
  -->

</div>
