.history {
  height: 680px;
  overflow-y: auto;
}
.match-card {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 5px 10px;
  border-bottom: 1px solid rgb(221, 221, 221);

  .icon {
    display: inline-block;

    //kosočteverec
    //width: 65px;
    //height: 65px;
    //transform: skew(-10deg);

    img {
      width: 65px;
      height: 65px;
      border-radius: 50%;
      //object-fit: cover;
    }
  }

  .data1 {
    display: inline-block;
    padding-left: 20px;

    img {
      width: 25px;
      height: 25px;
      //border-radius: 50%;
    }
  }

  .items {
    display: inline-block;
    padding-left: 20px;

    a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border: 1px solid black;
      //margin-left: 5px;

      img {
        display: inline-block;
        width: 40px;
        height: 40px;
        //border-radius: 10px;
        //border-radius: 50%;
        //background-color: yellow;
        //border: 1px solid black;
        //font-size: xx-small;
        //margin-left: 5px;
      }
    }
  }

  .items a {
    position: relative;
    cursor: default;
  }
  .items a app-item-detail {
    position: absolute;
    display: none;
    z-index: 99;
  }
  .items a:hover app-item-detail {
    display: block;
    //background-color: #3f51b5;
    //color: white;
  }
}
