<div class="history" *ngIf="summGames; else error">
  <div *ngFor="let match of summGames">
    <div class="match-card">
      <div class="icon">
        <img class="lane" [src]="match.lane_url" />
        <img [src]="match.icon_url" alt="champ icon" [title]="match.champName" />
        <div class="badgeLevel">{{ match.summGameData.stats.champLevel }}</div>
      </div>

      <div class="data1">
        <span>{{ match.gameType | matchType }}</span>
        <br />
        <span [ngStyle]="{ color: match.summGameData.stats.win ? 'blue' : 'red' }"
          ><b>{{ match.summGameData.stats.win | matchResult }}</b></span
        >
      </div>
      <div class="items">
        <a><img [src]="match.items[0]" alt=""/> <app-item-detail [itemData]="match.itemsData[0]"></app-item-detail></a>
        <a>
          <img [src]="match.items[1]" alt="" /> <app-item-detail [itemData]="match.itemsData[1]"></app-item-detail>
        </a>
        <a>
          <img [src]="match.items[2]" alt="" /> <app-item-detail [itemData]="match.itemsData[2]"></app-item-detail>
        </a>
        <a>
          <img [src]="match.items[3]" alt="" /> <app-item-detail [itemData]="match.itemsData[3]"></app-item-detail>
        </a>
        <a>
          <img [src]="match.items[4]" alt="" /> <app-item-detail [itemData]="match.itemsData[4]"></app-item-detail>
        </a>
        <a>
          <img [src]="match.items[5]" alt="" /> <app-item-detail [itemData]="match.itemsData[5]"></app-item-detail>
        </a>
        <a>
          <img [src]="match.items[6]" alt="" /> <app-item-detail [itemData]="match.itemsData[6]"></app-item-detail>
        </a>
      </div>
      <div class="data2">
        <img [src]="match.summSpells[0]" alt="summoner spell 1" [title]="match.spellNames[0]" />
        <img [src]="match.summSpells[1]" alt="summoner spell 2" [title]="match.spellNames[1]" />
      </div>
      <div class="data3">
        <table>
          <tr>
            <td class="type">kda:</td>
            <td class="value">
              <b
                >{{ match.summGameData.stats.kills }} / {{ match.summGameData.stats.deaths }} /
                {{ match.summGameData.stats.assists }}</b
              >
            </td>
          </tr>
          <tr>
            <td class="type">minions:</td>
            <td class="value">
              <b>{{ match.summGameData.stats.totalMinionsKilled }}</b>
            </td>
          </tr>
          <tr>
            <td class="type">golds:</td>
            <td class="value">
              <b>{{ match.summGameData.stats.goldEarned }}</b>
            </td>
          </tr>
        </table>
      </div>
      <div class="data4">
        <table>
          <tr>
            <td class="type">duration:</td>
            <td class="value">
              <b>{{ match.gameDuration | gameDuration }}</b>
            </td>
          </tr>
          <tr>
            <td class="type">created:</td>
            <td class="value">
              <b>{{ match.gameCreation | date: 'd/M/yy' }}</b>
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>
    <ng-template #error>Match History Not Found</ng-template>
  </div>
</div>
