<div class="history" *ngIf="matchesDetail[0].gameId; else error">
  <div *ngFor="let match of summGames">
    <div class="match-card">
      <div class="icon">
        <img [src]="match.icon_url" alt="champ icon" />
      </div>
      <div class="data1">
        {{ match.gameType | matchType }}
        <br />
        {{ match.summGameData.stats.win | matchResult }}
        <br />
        <img [src]="match.summSpells[0]" alt="summoner spell 1" />
        <img [src]="match.summSpells[1]" alt="summoner spell 2" />
      </div>
    </div>
  </div>
</div>
<ng-template #error>Match History Not Found</ng-template>
