<nav id="targetUp" class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-center">

    <div class="uk-navbar-item">
      <div class="uk-width-small">
        <select #region class="uk-select">
            <option *ngFor="let region of regions">{{ region }}</option>
        </select>
    </div>
    </div>

    <div class="uk-navbar-item">
      <div class="uk-search uk-search-default uk-background-default uk-width-medium">
        <span uk-search-icon></span>
        <input #player class="uk-search-input" type="search" placeholder="Player's nickname" (keyup.enter)="searchPlayer(player.value, region.value)">
      </div>

      <button class="uk-button uk-button-danger" (click)="searchPlayer(player.value, region.value)">Search</button>
    </div>

  </div>
</nav>

<div class="uk-container">

  <div class="uk-margin-top uk-flex">

    <ng-container *ngIf="!(summoner$ | async).status?.message && (summoner$ | async).id; else noSummoner">
      <!-- first column -->
      <div class="uk-width-medium uk-section uk-section-muted">
        <div class="uk-padding-small">
          <table class="uk-table uk-table-divider">
            <tbody>
              <tr>
                <td>Nickname:</td>
                <td>{{ (summoner$ | async).name }}</td>
              </tr>
              <tr>
                <td>Summoner level:</td>
                <td>{{ (summoner$ | async).summonerLevel }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- second column-->
      <div class="uk-width-expand">
        <div class="uk-flex" >
          <div *ngFor="let league of leagues$ | async" class="uk-card uk-card-default uk-card-body uk-width-expand uk-margin-left">
            <table class="uk-table uk-table-divider">
              <tbody>
                <tr>
                  <td>Queue type:</td>
                  <td>{{ league.queueType }}</td>
                </tr>
                <tr>
                  <td>Tier:</td>
                  <td>{{ league.tier }}</td>
                </tr>
                <tr>
                  <td>Rank:</td>
                  <td>{{ league.rank }}</td>
                </tr>
                <tr>
                  <td>League points:</td>
                  <td>{{ league.leaguePoints }}</td>
                </tr>
                <tr>
                  <td>Wins:</td>
                  <td>{{ league.wins }}</td>
                </tr>
                <tr>
                  <td>Losses:</td>
                  <td>{{ league.losses }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- 
        <div>
          <img [src]= "'Emblem_BRONZE' | secure | async" alt="Emblem_BRONZE">
        </div>
        -->

        <!-- MATCH HISTORY -->
        <div class="uk-flex">
          <div class="uk-card uk-card-default uk-card-body uk-width-expand uk-margin-left uk-margin-top"
            infinite-scroll
            [infiniteScrollDistance]="scrollDistance"
            [infiniteScrollThrottle]="throttle"
            (scrolled)="onScrollDown()"
          >
            <table class="uk-table uk-table-striped">
              <tbody>
                <tr *ngFor="let match of matchArray">
                  <td>
                    <ng-container *ngIf="playerChampName(match) | getImage | async as icon; else loading">
                      <img [src]= icon alt="champ_icon">
                    </ng-container>
                    <ng-template #loading>
                      <img src= "../../../assets/loading.svg" alt="loading...">
                    </ng-template>
                  </td>
                  <td>{{ playerChampName(match) }}</td>
                  <td>{{ match.gameId }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </ng-container>

    <ng-template #noSummoner>
      <ng-container *ngIf="(summoner$ | async).status?.message;else noSearchYet">
        <div class="uk-card uk-card-default uk-card-body uk-width-expand uk-margin-left">
          Summoner not found
        </div>
      </ng-container>
      <ng-template #noSearchYet>
        <div class="uk-card uk-card-default uk-card-body uk-width-expand uk-margin-left">
          Search for player
        </div>
      </ng-template>
    </ng-template>

    <!-- SCROLL UP BTN-->
    <a class="uk-button uk-button-primary gg-scroll-btn" href="#targetUp" uk-scroll><span uk-icon="icon: chevron-up; ratio: 2"></span></a>

  </div>
</div>
