.queue {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.icon-small {
    width: 35px;
    height: 35px;
    margin: 2.5px;
    border-radius: 5px;
}
.width-xsmall {
    width: 60px;
}
.items-group {
    width: 120px;
}